.icons {
	padding: 1rem;
	a {
		color: black;
		&:visited {
			color: black;
		}
	}
	.fab {
		-webkit-transition: -webkit-transform .2s ease-in-out;
		transition: transform .2s ease-in-out;

		&:hover {
			-webkit-transform: rotate(30deg);
			transform: rotate(30deg);
		}
	}
}



i {
	font-size: 2.5rem;
	padding: 1rem;
}
